{% extends 'base.html' %}
{% load i18n %}
{% block styles %}
{% endblock %}
{% block page_body %}
<div class="container">
    <div style="margin-top:20px;border: 1px solid #e7e7e7;box-shadow: 2px 2px 10px #ccc;line-height: 2em;padding:15px">
            <h3 style="text-align: center;">关于我们</h3>
            <p style="text-indent: 2em;">
               咖啡N次方是集现磨咖啡和现冲茶饮新零售业态、智能自助贩卖、物联网技术于一体的新零售平台运营服务商，目前已在西安高新区上线运营，服务于西安高新都市之门行政中心综合服务大厅以及各大科技园区高端写字楼，以高端、安全、新鲜的原料和最及时的响应服务获得了各消费群体的一致认可。 
            </p>
            <p style="text-indent: 2em;">
               咖啡N次方与国内顶尖的专业设备合作商进行深度合作，定制的符合食品安全级别的全自动设备，满足UL、CQC、CE、IECEE认证。12盎司大杯，支持微信、支付宝和建行龙支付等多种便捷支付方式。远程清洗+程序控制自动清洗，内置紫外线杀菌消毒，冰饮热饮双支持，远程实时监控，使每一位消费者无需久等即可享受一杯充满意式风情的传奇LAVAZZA咖啡，并通过物联网与云端系统相连，实现对每台设备的快速维护与运营掌控。
            </p>
            <p style="text-indent: 2em;">
              咖啡N次方定位于高端咖啡、茶饮运营服务提供商，由专业咖啡调配师研发调配了二十余款咖啡及茶饮，采用的原料均领先于同行业的采供标准。与意大利120多年历史的全球最大咖啡豆品牌LAVAZZA中国区总代理进行深度战略合作，精选LAVAZZA100%阿拉比卡咖啡豆，萃取出的ESPRESSO拥有丰富的油脂，口感丰富、酸苦平衡，带有巧克力般迷人的香氛；来自于新西兰天然牧场的恒天然安佳乳粉，创造出了更为丰富细腻和绵密的口感；为了使消费者更安全、放心的享受到一杯立等即得的品质外带咖啡和茶饮，其他原料如立顿精选港式红茶、巧克力以及白砂糖均采购自麦德龙商场。
            </p>
            <p style="text-indent: 2em;">
             咖啡N次方愿与各方共同携手合作，共筑食品安全底线，共享成长发展未来！
            </p>
            <p style="text-align:right">
            咖啡N次方
            </p>
            <p style="text-align:right">
            客服及运营投放热线：4008931580
            </p>
    </div>
</div>
{% endblock %}


